<head>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/adminPage.css') }}">
    <script src={{ asset('js/jquery-3.2.0.min.js') }}></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src={{ asset('js/adminPage.js') }}></script>
    <script>

    </script>

</head>
<html>
<
<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="{{ path('homepage') }}">Buss md</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <input type="text" class="form-control" placeholder="Search"/>
                </form>
                <li class="dropdown movable">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span
                                class="fa fa-4x fa-child"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-user"></span>My Profile</a></li>
                        <li><a href="#"><span class="fa fa-gear"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-power-off"></span>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-map-marker"></i>Locations<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('add_location') }}">Add</a></li>
                    <li><a href="{{ path('view_locations') }}">View</a></li>
                    <li><a href="#">Administration</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-bus"></i>Stations<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('add_station') }}">Add</a></li>
                    <li><a href="{{ path('view_stations') }}">View</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-road"></i>Routes<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('add_route') }}">Add</a></li>
                    <li><a href="{{ path('view_routes') }}">View</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-users"></i>Users<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('view_users') }}">View</a></li>
                    <li><a href="#">New Zone</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-users"></i>Drivers<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('view_users') }}">View</a></li>
                    <li><a href="#">New Zone</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-users"></i>Busses<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="{{ path('view_busses') }}">View</a></li>
                    <li><a href="{{ path('add_buss') }}">New Buss</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-file-image-o"></i>Reports<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li><a href="#">Entries</a></li>
                    <li><a href="#">Redirects</a></li>
                    <li><a href="#">Pingbacks</a></li>
                    <li><a href="#">Tags</a></li>
                </ul>
            </li>

        </ul>
    </aside>

    <!--Body content-->
    <div class="content">
        <div class="top-bar">
            <a href="#menu" class="side-menu-link burger">
                <span class='burger_inside' id='bgrOne'></span>
                <span class='burger_inside' id='bgrTwo'></span>
                <span class='burger_inside' id='bgrThree'></span>
            </a>
        </div>
        <section class="content-inner">
           {% block body %}
            {% endblock %}
        </section>
    </div>

</div>

</html>