<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>BUS</title>
    <meta name="description" content="Here goes description"/>
    <meta name="author" content="Grigore Brodicico"/>
    <link rel="shortcut icon" href={{ asset('images/elements/favicon.png') }}/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{{ asset('css/start-style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/swipebox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>


    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/datetimepicker.css') }}"/>
    <link rel="stylesheet" href="{{ asset('color-box/color-style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('color-box/farbtastic/farbtastic.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

</head>
<body class="home-page boxed" style='background-image: url("/color-box/background/back_3.jpg"); background-repeat: no-repeat; background-size: 100%;'>

<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="socials">
                    <li><a class="d-text-c" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="d-text-c" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="d-text-c" href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a class="d-text-c" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="d-text-c" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="d-text-c" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="logo">
                    <a href="{{ path('homepage') }}" class="d-text-c">Bus Md
                        <img src="{{ asset('images/photos/title-logo.png') }}" class="fa fa-plane" alt="Bus"
                             height="42" width="42">
                    </a>

                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <br>
                <br>
                {% if app.user %}
                    <a href="{{ path('logout') }}" style="float: left"> <span
                                class="glyphicon glyphicon-log-out"></span> LogOut({{ app.user.username }})</a>
                {% else %}
                    <a href="{{ path('login') }}" style="float: left"> <span class="glyphicon glyphicon-log-in"></span>
                        LogIn</a>
                {% endif %}
            </div>
            <br>
        </div>
    </div>
</header>

<!-- MENU -->
<div class="container">
    <div class="main-header-bottom">
        <nav class="main-nav d-bg-c">
            <div class="responsive-menu"><i class="fa fa-align-justify"></i> Menu</div>
            <ul class="clean-list clearfix">
                <li class="current-menu-item"><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="#">Routes</a>
                    <ul>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="error-404.html">Error 404</a></li>
                        <li><a href="our-team.html">Our team</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li class="menu-item-has-children"><a href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">nephew</a></li>
                                <li><a href="#">nephew</a></li>
                                <li class="menu-item-has-children"><a href="#">nephew</a>
                                    <ul>
                                        <li><a href="#">nephew</a></li>
                                        <li><a href="#">nephew</a></li>
                                        <li><a href="#">nephew</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="tours.html">Offerts</a>
                    <ul>
                        <li><a href="single-tour.html">Single tour</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="post.html">Single post</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                </li>
                 {% if app.user %}

                    <li>
                        <a href="#" class="dropdown-toggle right" data-toggle="dropdown"><span class="caret"></span><span
                                    class="fa fa-1x fa-child"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
                            <li><a href="{{ path('view_tickets') }}"><span class="fa fa-ticket"></span> My Tickets</a></li>
                            <li><a href="#"><span class="fa fa-gear"></span> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>


        </nav>

    </div>
</div>
</header>

<!-- MENU -->
<div class="header-space"></div>


<div class="content">
    <div class="container">

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}
        {% endblock %}

                {% block body %}{% endblock %}

    </div>
</div>


</div>


<footer>
    <div class="container">
        <div class="footer-box">

            <div class="bottom-footer">
                <p>Creayed by Grigore Brodicico
                </p>
            </div>
        </div>
    </div>
</footer>


</div>



</body>
{% block javascripts %}
    <script src={{ asset('js/jquery-1.10.0.min.js') }}></script>
    <script src={{ asset('js/bootstrap.js') }}></script>
    <script src={{ asset('js/placeholder.js') }}></script>
    <script src={{ asset('js/imagesloaded.pkgd.min.js') }}></script>
    <script src={{ asset('js/masonry.pkgd.js') }}></script>
    <script src={{ asset('js/jquery.swipebox.min.js') }}></script>
    <script src={{ asset('js/countdown.js') }}></script>
    <script src={{ asset('js/options.js') }}></script>
    <script src={{ asset('js/plugins.js') }}></script>
    <script src={{ asset('js/jquery.datetimepicker.js') }}></script>
    <script src={{ asset('color-box/color-js.js') }}></script>
    <script src={{ asset('color-box/farbtastic/farbtastic.js') }}></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {


            $("#search_f").autocomplete({
                source: "{{ path('search_route') }}",
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $("#search_from").val(ui.item.value);
                },
                change: function (event, ui) {
                    debugger;

                    $(this).val(ui.item.label ? ui.item.label : null);
                    $("#search_from").val(ui.item.value ? ui.item.value : null);
                }


            });


            $("#search_t").autocomplete({
                source: "{{ path('search_route') }}",
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $("#search_to").val(ui.item.value);
                },
                change: function (event, ui) {
                    debugger;
                    event.preventDefault();
                    $(this).val(ui.item.label ? ui.item.label : null);
                    $("#search_to").val(ui.item.value ? ui.item.value : null);
                }


            });
        });
    </script>

{% endblock %}

</html>