{% extends '::admin_base.html.twig' %}
{% block body %}
    <script type="text/javascript">
        var lolz;
        function onload() {
            lolz = document.getElementById('lolz');
        }

        function kk() {
            if (lolz.value != "") {
                window.location.assign("http://buss.md/app_dev.php/admin/view/routes/" + lolz.value);
            }else
            { window.location.assign("http://buss.md/app_dev.php/admin/view/routes");}
        }
    </script>

    <body onload="onload();">
    <h2>Filter:</h2>
    <input type="text" name="enter" class="" value="{{ filter }}" id="lolz" style="width:20%"/>

    <i class="fa fa-search" onclick="kk();"></i>

    </body>

    <table class="table table-inverse">
        <thead>
        <tr>
            <th>Operations</th>
            <th>Name</th>
            <th>Surename</th>
            <th>Stage</th>
            <th>Routes</th>
            <th>Item Routes</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>
                    <a class="fa fa-edit" href="{{ path('edit_driver',{'id':driver.id}) }}"> </a>
                    <a class="fa fa-trash-o" href="{{ path('delete_driver',{'id':driver.id}) }}"
                       onclick="return confirm('Do you want to delete this driver?')"></a>

                </td>
                <td>{{ driver.name}}</td>
                <td>{{ driver.surename }}</td>
                <td>{{ driver.stage }}</td>
                <td>
                    <a class="btn btn-default btn-block" href="#">{{ driver.routes|length }}</a>
                </td>

                <td>
                    <a class="btn btn-default btn-block" href="#">{{ driver.itemRoutes|length }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}