{% extends '::admin_base.html.twig' %}
{% block body %}
    <script type="text/javascript">
        var lolz;
        function onload() {
            lolz = document.getElementById('lolz');
        }

        function kk() {
            if (lolz.value != "") {
                window.location.assign("http://buss.md/app_dev.php/admin/view/station/" + lolz.value);
            }else
            { window.location.assign("http://buss.md/app_dev.php/admin/view/station");}
        }
    </script>

    <body onload="onload();">
    <h2>Filter:</h2>
    <input type="text" name="enter" class="" value="{{ filter }}" id="lolz" style="width:20%"/>

    <i class="fa fa-search" onclick="kk();"></i>

    </body>

    <table class="table table-inverse">
        <thead>
        <tr>
            <th>Operations</th>
            <th>Name</th>
            <th>Location</th>
            <th>In Routes</th>
        </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <td>
                    <a class="fa fa-edit" href="{{ path('edit_station',{'id':station.id, 'filter':filter}) }}"> </a>
                    <a class="fa fa-trash-o" href="{{ path('delete_station',{'id':station.id}) }}"
                       onclick="return confirm('Do you want to delete this station?')"></a>

                </td>
                <td>{{ station.name }}</td>
                <td>{{ station.location.uniqueName }}</td>
                <td>
                    <a class="btn btn-default btn-block" href="">{{ station.routeStations|length }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}