{% extends '::base.html.twig' %}
{% block body %}
    <div class="container text-center" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt={{ route.from.uniqueName }}&w=200&h=200&txttrack=0"
                         class="img-circle" height="80" width="80"
                         alt="Avatar">
                    <br>
                    <h1>.</h1>


                    <h1>|</h1>
                    {{ route.totalDistance }}Km
                    <br>
                    Trip Time
                    <br>
                    {{ route.totalTime|date("H:i") }}
                    <h1>|</h1>

                    <h1>.</h1>

                    <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt={{ route.to.uniqueName }}&w=200&h=200&txttrack=0"
                         class="img-circle" height="80" width="80"
                         alt="Avatar">
                    <br>
                    <br>
                    <div class="thumbnail">
                        <p>Active every : </p>

                        {% for key in route.activeDays %}
                            <span class="label label-default">{{ daysOfWeek[key-1] }}</span>


                        {% endfor %}
                    </div>

                    <div class="thumbnail">
                        <p>Buss no : </p>

                        {% for buss in route.busses %}
                            <span class="label label-default">     {{ buss.uniqueName }}</span>

                        {% endfor %}


                    </div>
                </div>


            </div>

            <div class="col-sm-9">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <h2>Only {{ itemRoute.freeSeats }} free seats</h2>
                                <a href="{{ path('command_ticket',{'id':itemRoute.id}) }}"
                                   class="btn btn-default btn-sm" style="float: right;">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> BUY
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumbnail">

                    {% for routeStation in routeStations %}
                        <div class="row">
                            <div class="col-sm-3">
                                {% if(routeStation.distanceFromBackStation !=0) %}
                                    <div>
                                        <h4>|</h4>
                                        {{ routeStation.distanceFromBackStation }} Km
                                        <br>
                                        {{ routeStation.timeFromBackStation|date('H:i:s') }}
                                        </br>
                                        <h4>|</h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3">

                                <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt={{ routeStation.station.name }}&w=200&h=200&txttrack=0"
                                     class="img-circle" height="80" width="80"
                                     alt="Avatar">


                            </div>
                            <div class="col-sm-9">
                                <div class="well">
                                    Location : {{ routeStation.station.location.uniqueName }}
                                </div>
                            </div>
                        </div>



                    {% endfor %}
                </div>
            </div>

                <label> Route Road:</label>
                <div id="map" style="height: 600px;"></div>
                <div id="bar">
                    <p class="auto"><input type="text" id="autoc"/></p>
                </div>

                {% include('@BsRoute/mapRouteView.html.twig') %}
        </div>
    </div>




{% endblock %}