<div class="container text-center" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {{ form_start(form) }}
        <div class="col-sm-12 ">

            <div class="col-sm-3 well">
                <div class="well">
                    <h3>Select From station</h3>

                    {{ form_row(form.fromStation,{'attr':{'class':'form-control'}}) }}
                    <h3>Select Destination station</h3>

                    {{ form_row(form.toStation,{'attr':{'class':'form-control'}}) }}
                    <button type="submit" class="btn btn-default">Next</button>

                </div>
            </div>

            <div class="col-sm-7">

<div class="well">
    <label> Route Road:</label>
    <div id="map" style="height: 600px;"></div>
    <div id="bar">
        <p class="auto"><input type="text" id="autoc"/></p>
    </div>

    {% include('@BsRoute/mapRouteView.html.twig') %}
</div>
            </div>
            <div class="col-sm-2 well">
                <h3>Select Place(s)</h3>

                <ul class="checkbox-grid">
                    <div class="place-selector">
                        <li>
                            {{ form_row(form.places) }}

                        </li>
                    </div>

                </ul>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

</div>
</div>

<style>
    .checkbox-grid li {
        display: block;
        width: 150px;
        float: right;
        height: auto;
    }

    input[type=checkbox]:checked + label {
        background: #d72526;
        color: #ffffff;
    }

    .place-selector input {
        display: none !important;
    }
    .place-selector-red  {
        background: #d72526;
    }
    .place-selector input[type=checkbox] + label {
        display: inline-block;
        border-radius: 6px;
        background: #dddddd;
        height: 40px;
        width: 30px;
        margin-right: 3px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .place-selector input[type=checkbox]:checked + label {
        background: #2AD705;
        color: #ffffff;
    }

    .displayNone {
        display: none;
        color: #ffffff;
    }

</style>